/* Created by GeekStar Codes */

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #000;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Created by GeekStar Codes */

/* 
Subscribe to my YouTube channel for more cool stuffs.
Link: https://t2m.io/pXUSmgPx 
*/
